@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --sem-size: 120px;
}
.centered-flex{
    justify-content: center;
    align-items: center;
}
.bootstrap-select .btn{
    white-space: normal;
    word-wrap: break-word;
}

.flex-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.flex-element{
    padding-bottom: 5%;
}
.form-control{
    font-size: 20px !important;
    height: 100% !important;
    overflow: visible;
    white-space: initial;
}
.indice{
    padding: 10%;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    background-color:#eee;
    border-radius: 15px;
    background-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkslategrey;
}
.invisible{
    display: none;
}
.jumbotron{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.semaforo{
    height: var(--sem-size);
    width: var(--sem-size);
    border-radius: 50%;
    border: solid black 2px;
}
select{
    text-transform: none;
    height: auto !important;
    width: 100% !important;
}
.map{
    width:500px;
    height:300px;
    background:grey;
}
ul{
  list-style: none;
}
#vulnerabilidad{
    display: none;
}
