{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi Semáforo</title>
    <link rel="stylesheet" href="{% static 'simulacion/style.css' %}">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <style>
      .vulnerabilidades{
        font-size: 20px;
      }
    </style>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'simulacion/simulacion.js' %}"></script>
  </head>
  <body onload="inicializar()">
    <script>
      const DISTANCIA={{caso_random.v}}-({{caso_random.d_fis}}+{{caso_random.d_sen}}+{{caso_random.u}});
      function initMap(){
        var epicentroOptions={
          center: new google.maps.LatLng({{caso_random.s_lat}},{{caso_random.s_long}}),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var mapaEpicentro = new google.maps.Map(
          document.getElementById("epicentro"), 
          epicentroOptions); 
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        mark1 = new google.maps.Marker({
          position: {lat:{{caso_random.s_lat}},lng:{{caso_random.s_long}}},
          mapaEpicentro,
          icon: iconBase + 'earthquake.png',
          title: 'Epicentro',
        });
        
        mark1.setMap(mapaEpicentro);
        mark2 = new google.maps.Marker({
          position: {lat:{{caso_random.p_lat}},lng:{{caso_random.p_long}}},
          mapaEpicentro,
          title: 'Mi Ubicacion',});
        mark2.setMap(mapaEpicentro);
        }
    </script>
   <div class="container">
    <header class="jumbotron jumbotron-fluid text-center my-4">
      <h1 class="display-3">Último Sismo Detectado</h1>
      <p class="lead">{{caso_random}}.</p>
    </header>
   </div>
   <div class='container'>
    <div class='row'>
      <div class='col-sm-6 text-center'>
        <h3 class='display-3'>Epicentro y Localización Actual</h3>
        <div id='epicentro' class='map'></div>         
      </div>
      <div class='col-sm-6 text-center'>
        <h3 class='display-3'>Magnitud</h3>
        <p id='peligro' class="invisible">{{caso_random.p}}</p>
        <h2 class="indice">{{caso_random.mag}}</h2>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-sm-6 '>
        <h3 class='display-3 text-center'>Mi Vulnerabilidad</h3>
        <p id=vulnerabilidad class="invisible">{{caso_random.v}}</p>
        <ul class='fa-ul'>
          <li><span class="fa-li"><i class="fas fa-walking fa-3x"></i></span>
            <select class="form-control" id="movilidad_select" onchange="recalcularIR({{caso_random.V}})">
              <script>
                renderMovilidadOptions('movilidad_select');
                setSelectedOption('movilidad_select',{{caso_random.d_fis}});
              </script>
            </select>
          </li><br>
          <li>
            <span class='fa-li'>
              <i class="fas fa-assistive-listening-systems fa-2x"></i>
            </span>
              <select class="form-control" id="sensorial_select" onchange="recalcularIR({{caso_random.V}})">
                <script>
                  renderSensorialOptions('sensorial_select');
                  setSelectedOption('sensorial_select',{{caso_random.d_sen}});
                </script>
              </select>
          </li><br>
          <li>
            <span class='fa-li'>
              <i class='far fa-building fa-2x'></i>
            </span>
            <select class="form-control" id="ubi_select" onchange="recalcularIR({{caso_random.V}})">
              <script>
                renderUbiOptions('ubi_select');
                setSelectedOption('ubi_select',{{caso_random.U}});
              </script>
            </select>
          </li><br>
        </ul>
      </div>
      <div class='col-sm-3 text-center'>
        <h3 class='display-3'>Índice de Riesgo Calculado</h3>
        <p class='indice' id='indice'>{{caso_random.ir}}</p>
      </div>
      <div class='col-sm-3 flex-column centered-flex'>
        <h3 class='display-3 flex-element'>Mi Semáforo</h3>
        <div id='semaforo' class='semaforo flex-element'><script> getSemaforo('{{caso_random.sem}}');</script></div>
        <header class='flex-element' id='semaforo_header'>
          {{caso_random.sem}}
        </header>  
      </div>
    </div>
   </div>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuH3aNm2RrWezE9q8LbFhT_d-k8rc1gM&callback=initMap"></script>  
  </body>
</html>
