{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi Semáforo</title>
    <link rel="stylesheet" href="{% static 'simulacion/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'simulacion/simulacion.js' %}"></script>
  </head>
  <body>
    <script>
      function initMap(){
        var epicentroOptions={
          center: new google.maps.LatLng({{caso_random.s_lat}},{{caso_random.s_long}}),
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var mapaEpicentro = new google.maps.Map(
          document.getElementById("epicentro"), 
          epicentroOptions); 
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        mark1 = new google.maps.Marker({
          position: {lat:{{caso_random.s_lat}},lng:{{caso_random.s_long}}},
          mapaEpicentro,
          icon: iconBase + 'earthquake.png',
          title: 'Epicentro',
        });
        
        mark1.setMap(mapaEpicentro);
        mark2 = new google.maps.Marker({
          position: {lat:{{caso_random.p_lat}},lng:{{caso_random.p_long}}},
          mapaEpicentro,
          title: 'Mi Ubicacion',});
        mark2.setMap(mapaEpicentro);
      }
      function init(caso){
        var movi_span = document.getElementById('movilidad');
        movi_span.innerHTML = caso.d_sen;
      }
      function getMovilidad(d_fis){
        ponderacion={
          '2.5' : 'No puedo desplazarme',
          '2': 'Dependo de la ayuda de otras personas para desplazarme',
          '1.5': 'Utilizo silla de ruedas o muletas para desplazarme.',
          '1': 'Puedo moverme con ligeras complicaciones, sin necesidad de ayuda',
          '0.5': 'Puedo evacuar en caso de emergencia sin ayuda.'
        };
        let key = String(d_fis)

        var movi_span = document.getElementById('movilidad');
        if(ponderacion[key] === undefined )
          console.log('Undefined ERROR: Valor d_fis=',key,' no tiene ponderacion.');
        else
          movi_span.innerHTML = ponderacion[key];
      }
      function getSensorial(d_sen){
        ponderacion={
          '2.5' : 'No puedo escuchar alarmas ni visualizar rutas de evacuación.',
          '1.5': 'Se me dificulta ver o escuchar alarmas e indicaciones de evacuación.',
          '0.5': 'Puedo escuchar indicaciones y alarmas claramente y observar rutas de evacuación.'
        };
        let key = String(d_sen)
  
        var sen_span = document.getElementById('sensorial');
        if(ponderacion[key] === undefined )
          console.log('Undefined ERROR: Valor d_sen=',key,' no tiene ponderacion.');
        else
          sen_span.innerHTML = ponderacion[key];
      }
      function getUbicacion(u){
        ponderacion={
          '2.5': 'Del séptimo piso en adelante de un inmueble.',
          '2': 'Del cuarto al sexto piso de un inmueble.',
          '1.5': 'En el tercer o segundo piso de un inmueble.',
          '1': 'En la planta baja de un inmueble.',
          '0.5': 'En zona despejada.'
        };
        let key = String(u)
        
        var u_container = document.getElementById('ubicacion');
        if(ponderacion[key] === undefined )
          console.log('Undefined ERROR: Valor d_sen =',key,'no tiene ponderacion.');
        else
         u_container.innerHTML = ponderacion[key];
      }
    </script>
   <div class="container">
    <header class="jumbotron text-center my-4">
      <h1 class="display-3">Último Sismo Detectado</h1>
      <p class="lead">{{caso_random}}.</p>
    </header>
   </div>
   <div class='container'>
    <div class='row'>
      <div class='col-sm-6 text-center'>
        <h3 class='display-3'>Epicentro y Localización Actual</h3>
        <div id='epicentro' style='width:500px;height:300px;background:grey;'></div>         
      </div>
      <div class='col-sm-6 text-center'>
        <h3 class='display-3'>Magnitud</h3>
        <h2>{{caso_random.mag}}</h2>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-sm-4 text-center'>
        <h3 class='display-3'>Mi Vulnerabilidad</h3>
        <p id='movilidad' class='text-left'><script>getMovilidad({{caso_random.d_fis}});</script> </p>
        <p id='sensorial' class='text-left'><script>getSensorial({{caso_random.d_sen}});</script> </p>
        <p id='ubicacion' class='text-left'><script>getUbicacion({{caso_random.u}});</script> </p>
        
        <div id='vulnerabilidades'></div>
      </div>
      <div class='col-sm-4 text-center'>
        <h3 class='display-3'>Índice de Riesgo Calculado</h3>
        <h3>{{caso_random.ir}}</h3>
      </div>
      <div class='col-sm-4 text-center'>
        <h3 class='display-3'>Mi Semáforo</h3>
        {{caso_random.sem}}
      </div>
    </div>
   </div>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuH3aNm2RrWezE9q8LbFhT_d-k8rc1gM&callback=initMap"></script>  
  </body>
</html>
